:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.block{
  padding: 40px 0;
}

.site-header {
  height: 300px;
  transition: .8s all ease-in-out;
  position: relative;

  &.active {
    height: 600px;
  }

  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -2;
    background: url(/images/intro-background.jpg);
    background-size: cover;
    background-position: center center;
    &::after{
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      height: 80%;
      width: 100%;
      background-image: linear-gradient(to top, rgba(33,33,33,1),rgba(33,33,33,0));
    }
  }

  .inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    img.logo{
      height: 80px;
    }

    .slogan {

      display: flex;
      font-size: 30px;
      margin: 20px 0;
      line-height: 30px;

      span {
        display: inline-block;
        position: relative;

        b {
          display: inline-block;
          white-space: nowrap;
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }

      .text-box {
        transition: .3s all;
        position: relative;
        b{
          font-weight: normal;
        }
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          border-radius: 5px;
        }
      }

      .text-box-1{
        color: rgba(0, 240, 255, 1);
        position: relative;
        &::after{
          background-color: rgba(0, 240, 255, 1);
          opacity: .3;
          box-shadow: 0 3px 7px rgba(0, 240, 255, .8);
        }
      }

      .text-box-2{
        color: rgba(255, 63, 90, 1);
        position: relative;
        &::after{
          background-color: rgba(255, 63, 90, 1);
          opacity: .3;
          box-shadow: 0 3px 7px rgba(255, 63, 90, .8);
        }
      }

      .dot {
        padding: 0 10px;
      }
    }
  }

  @keyframes textExiting {
    from {
      transform: translateY(0px);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes textEntering {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.site-nav {
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .item {
      height: 46px;
      line-height: 46px;
      padding: 0 46px;
      color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        color: #ccc;
        margin-left: 10px;
        font-size: 18px;
      }
    }

    .active .item {
      background-color: #228BED;
      color: #fff;
      border-radius: 100px;
    }

    .item-button {
      background-color: #228BED;
      color: #fff;
      border-radius: 100px;
    }
  }
}

.title-box{
  margin-bottom: 40px;
  h2{
    position: relative;
    font-size: 42px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(34, 139, 237, 1);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(34, 139, 237, 1)), to(rgba(0, 240, 255, 1)));
    &::after{
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 80px;
      height: 10px;
      border-radius: 5px;
      background-color: rgb(0, 240, 255);
      opacity: 0.3;
      box-shadow: 0 3px 7px rgb(0 240 255 / 80%);
    }
  }
  h4{
    font-weight: normal;
    font-size: 15px;
  }
}

.price-block {
  .price-lists {
    display: flex;
    justify-content: space-between;

    .list {
      width: 40%;
      background-color: #353535;
      padding: 30px 40px;
      border-radius: 10px;

      .price{
        margin-bottom: 20px;
        h2 {
          font-size: 32px;
          margin: 0;
        }
      }

    }

    .list-1 {
      h2 {
        color: rgba(34, 139, 237, 1);
    
      }
    }

    .list-2 {
      h2 {
        color: rgba(255, 63, 90, 1);
      }
    }
  }
}

.faq-list{
  .item{
    
  }
}

.index-page {
  .intro{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .item{
      flex-grow: 0;
      flex-shrink: 1;
      width: 30%;
      background-color: #333333;
      padding: 40px 20px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 10px;
      h3{
        margin: 0;
        margin-bottom: 20px;
      }
      p{
        font-size: 13px;
        color: #999;
      }
    }
  }

  .download-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-steam-download{
  background: linear-gradient(to left, rgba(111,160,205, 1), rgba(67,98,129, 1));
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
  }
}

.site-footer{
  margin-top: 80px;
  background-color: #333333;
  padding: 80px;
}


.page-transition-enter {
  opacity: 0;
  transform: translate(30px, 0);
  z-index: 1;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.page-transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.page-transition-exit.page-transition-exit-active {
  opacity: 0;
  transform: translate(-30px, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
