:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.site-header {
  height: 300px;
  transition: .8s all ease-in-out;
  position: relative;

  &.active {
    height: 500px;
  }

  .inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .slogan {

      display: flex;
      font-size: 30px;
      margin: 20px 0;
      line-height: 30px;

      span {
        display: inline-block;
        position: relative;

        b {
          display: inline-block;
          white-space: nowrap;
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }

      .text-box {
        transition: .3s all;
        position: relative;
        b{
          font-weight: normal;
        }
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10px;
          border-radius: 5px;
        }
      }

      .text-box-1{
        color: rgba(0, 240, 255, 1);
        position: relative;
        &::after{
          background-color: rgba(0, 240, 255, 1);
          opacity: .3;
          box-shadow: 0 3px 7px rgba(0, 240, 255, .8);
        }
      }

      .text-box-2{
        color: rgba(255, 63, 90, 1);
        position: relative;
        &::after{
          background-color: rgba(255, 63, 90, 1);
          opacity: .3;
          box-shadow: 0 3px 7px rgba(255, 63, 90, .8);
        }
      }

      .dot {
        padding: 0 10px;
      }
    }
  }

  @keyframes textExiting {
    from {
      transform: translateY(0px);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes textEntering {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.site-nav {
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .item {
      height: 46px;
      line-height: 46px;
      padding: 0 46px;
      color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        color: #ccc;
        margin-left: 10px;
        font-size: 18px;
      }
    }

    .active .item {
      background-color: #228BED;
      color: #fff;
      border-radius: 100px;
    }

    .item-button {
      background-color: #228BED;
      color: #fff;
      border-radius: 100px;
    }
  }
}

.price-page {
  .price-lists {
    display: flex;
    justify-content: space-between;

    .list {
      width: 40%;
      background-color: #353535;
      padding: 30px 40px;
      border-radius: 20px;

      .type {
        font-size: 32px;
        margin: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
      }
    }

    .list-1 {
      .type {
        background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 240, 255, 1)), to(rgba(255, 255, 255, 1)));
      }
    }

    .list-2 {
      .type {
        background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 63, 90, 1)), to(rgba(255, 255, 255, 1)));
      }
    }
  }
}

.site-footer{
  margin-top: 80px;
  background-color: #333333;
  padding: 80px;
}


.page-transition-enter {
  opacity: 0;
  transform: translate(30px, 0);
  z-index: 1;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.page-transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.page-transition-exit.page-transition-exit-active {
  opacity: 0;
  transform: translate(-30px, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
